<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= article.section %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= article.likes %>
  </p>

</div>
