<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @article %>">
  <h1>
    <%= @article.section.capitalize %> - <%= @article.title %>
  </h1>

  <p>
    <%= @article.description %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= @article.likes %>
  </p>

</div>

<div>
  <%= button_to "Like this article", like_path(@article), method: :put, class: 'btn btn-success' %>
</div>
<div>
  <%= link_to "Back to articles", articles_path %>
</div>
